.infoBox {
    display: flex;
    justify-content: center;   /* horizontal center */
    margin-top: 2rem;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
  }

  .MuiCardMedia-root {
    object-fit: cover;
  }
  